.tituloProduto {
    font-size  : 16px;
    text-align : center;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color      : #860E1C;

    
}

.precoProduto {
    font-size  : 16px;
    font-weight: bold;
    text-align : center;
    font-family: 'Barlow', sans-serif;
    
}

.produtoDesktop {
    display: flex;
    margin-bottom: 20px;
    

}

.produtoDesktop:hover {
    cursor: pointer;
}


.ou{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

img{
    
    border: rgba(0, 0, 0, 0.096) solid 1px;
}


.card {
    max-width: 100%;
}
.card-text {
    Word-wrap: break-Word;
}


