.tituloProduto {
    font-size  : 16px;
    text-align : center;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color      : #860E1C;
    height: 25%;

    
}

.precoProduto {
    font-size  : 16px;
    font-weight: bold;
    text-align : center;
    font-family: 'Barlow', sans-serif;
    
}

.produtoDesktop {
    display: flex;
    margin-bottom: 20px;
    
    justify-content: center;
    

}

.produtoDesktop:hover {
    cursor: pointer;
}


.ou{
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

img{
    
    border: rgba(0, 0, 0, 0.096) solid 1px;
}


.card {
    max-width: 100%;
}
.card-text {
    Word-wrap: break-Word;
}


@media (min-width:991px) and (max-width:1999px) {
    .ou{
        font-size: 15px
        
    }
    
}

@media (max-width:425px) {
    .tituloProduto{
        font-size:14px;
        height: 29%;
    }.ou{
        font-size:14px
    }
    
}

@media (min-width:361px) and (max-width:508px) {
    .tituloProduto{
        font-size:14px;
        height: 20%;
    }.ou{
        font-size:14px
    }
    
}
